[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/react"]
	path = lib/react
	url = https://github.com/DanielChappuis/reactphysics3d
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
